@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background: #c4c0c0;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

#check {
  margin: 0;
  display: none;
  background-color: transparent;
  left: 99999px;
}

.check-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 2.3rem;
  width: 5rem;
  position: relative;
  border-radius: 9999px;
  cursor: pointer;
}

.check-label svg {
  z-index: 40;
}

.switcher {
  position: absolute;
  left: 2px;

  width: 2.3rem;
  height: 2.15rem;
  transform: scale(0.9);
  background-color: #557FF2;
  border-radius: 100%;
  transition: 0.3s ease;
}

#check:checked ~ .check-label .switcher {
  background-color: #557FF2;
  position: absolute;
  left: 2.6rem;
  transition: 0.3s ease;
}

#check:checked ~ .check-label .sun path {
  fill: #b2abab;
}

#check:checked ~ .check-label .moon path {
  fill: #fff;
}
